In [1]:
import pandas as pd
%matplotlib inline

In [4]:
prices = pd.read_csv('../Chapter-10-Time-Series-Plotting/stock_px.csv', parse_dates=True, index_col=0)

In [5]:
prices.head()

            AAPL   MSFT    XOM     SPX
2003-01-02  7.40  21.11  29.22  909.03
2003-01-03  7.45  21.14  29.24  908.59
2003-01-06  7.45  21.52  29.96  929.01
2003-01-07  7.43  21.93  28.95  922.93
2003-01-08  7.28  21.31  28.83  909.93

In [ ]:
prices